html,body{
    height:100%;
 }
 .App, nav{
     min-width: 370px;
 }
 .carousel,.item,.active{
    height:100%;
  }
 .carousel-inner{
     height:100%;
 }
#MyVC {
    position: fixed;
    right: 100;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}
#overlayVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background:rgb(255, 255, 255,0.5);
}
#back{
    background: black;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -200;
}
.carousel-item{
    width: 100vw;
    height: 100vh;
    align-self: center;
}
iframe{
    width: 100vw;
    height: 100vh;
}

#settingsForm{
    background:rgb(255, 255, 255,1.0);
    padding: 5%;
}
.switchView{
    margin-top: 216px;
}
#saveAlert{
    margin-top: 5%;
}
#WeatherDisplay{
    margin-right:20px;
}